.container {
  align-items: center;
  align-content: center;
}

.container h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  color: #0f8940;
  font-family: 'Segoe UI', sans-serif;
}

.turnosContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  font-family: 'Segoe UI', sans-serif;
  margin: 4rem 2rem 0 2rem;
}

@media (max-width: 768px) {
  .turnosContainer {
    margin: 2rem 1rem 0 1rem;
    justify-content: center;
  }
}